@font-face {
    font-family: font;
    src: url(font.ttf);
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

h1,h2,p {
    font-family: font;
    font-weight: 100;
}

h1 {
    margin-top: 9vh;
    text-align: center;
    font-size: 80px;
}

h2 {
    margin-top: -2vh;
    text-align: center;
    font-size: 20px;
}

body {    
    background-color: #000;
    color: white;
}

.bg2 {
    z-index: -2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #11111111;
    backdrop-filter: blur(50px);
}

.bg3 {
    z-index: -4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0px);
}

.bg4 {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 35%;
    background-image: url('noise.png');
}

.bgblob {
    z-index: -3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.logo {
    width: 300px;
    height: auto;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-top: 1px;
    margin-right: 20px;
    position: fixed;
}

footer {
    margin-top: 100%;
    border-radius: 50px;
    backdrop-filter: blur(60px);
    margin-left: 25vw;
    width: 50vw;
    height: 20vh;
    box-shadow: #55555511 3px 3px 6px 0px inset, #55555511 -3px -3px 6px 1px inset;
    background-color: #55555533;
    color: #fff;
}

.everyone {
    color: transparent; 
    background: linear-gradient(45deg, #b4befe, #b7bdf8, #babbf1);
    background-clip: text;
}

.line-top {
    position: fixed;
    margin-top: 6vh;
    margin-right: 167px;
    right: 0;
    top: 0;
    color: white;
    background-color: white;
    width: 5px;
    height: 30vh;
    border-radius: 15px;
}

.line-bottom {
    position: fixed;
    margin-bottom: 6vh;
    margin-right: 167px;
    right: 0;
    bottom: 0;
    color: white;
    background-color: white;
    width: 5px;
    margin-top: -2vh;
    height: 30vh;
    border-radius: 15px;
}

.content {    
    justify-content: center;
    align-items: center;
    display: flex;
}

.button {
    opacity: 100%;
    box-shadow: #55555511 3px 3px 6px 0px inset, #55555511 -3px -3px 6px 1px inset;
    background-color: #55555533;
    backdrop-filter: blur(60px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: font;
    font-size: 20px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: 15px;
    height: 50px;
    width: 150px;
    border-radius: 25px;
    margin-top: 50px;
}

.button:hover {
    box-shadow: #55555511 3px 3px 6px 0px inset, #55555511 -3px -3px 6px 1px inset;
    background-color: #55555544;
}

.github {
    margin-left: 100px
}

@media screen and (max-width: 1100px) {
    .line-bottom {
        display: none;
    }
    .line-top {
        display: none;
    }
    .logo {
        display: none;
    }

    .github {
        margin-left: 30px;
        margin-right: 15px
    }

    .download {
        margin-left: 15px;
    }
}